In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('learningSet.csv')

In [3]:
data.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

### 1. Complete the following steps on the categorical columns in the dataset:

In [4]:
categorical= data.select_dtypes(np.object)
categorical.head()

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A

### Check for null values in all the columns

In [5]:
null_counts = categorical.isnull().sum()
null_counts

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 74, dtype: int64

In [6]:
#checking the valyes in the GEOCODE2 col which has nulls

categorical['GEOCODE2'].value_counts()

A    34484
B    28505
D    16580
C    15524
       187
Name: GEOCODE2, dtype: int64

In [7]:
#It seems like there are cols other than GEOCODE2 that also have nulls, cheking one of them

null_RECP3 = categorical['RECP3'].isnull().sum()
null_RECP3

0

In [8]:
#Based on my previous codes no other cols other than GEOCODE2 has nulls but I see empty values 
#in the df so checking the values in each col

for col in categorical:
    unique_values = categorical[col].unique()
    print(f"Unique values in column {col}: {unique_values}")

Unique values in column OSOURCE: ['GRI' 'BOA' 'AMH' 'BRY' ' ' 'CWR' 'DRK' 'NWN' 'LIS' 'MSD' 'AGR' 'CSM'
 'ENQ' 'HCC' 'USB' 'FRC' 'RKB' 'PCH' 'AMB' 'L15' 'BBK' 'L21' 'SYN' 'L01'
 'MOP' 'UCA' 'ESN' 'IMP' 'AVN' 'RMG' 'DNA' 'L04' 'AML' 'AIR' 'DUR' 'LHJ'
 'WKB' 'STL' 'DCD' 'IMA' 'ACS' 'ALZ' 'NEX' 'HAR' 'SGI' 'MBC' 'BSH' 'NAD'
 'HOS' 'HHL' 'GRT' 'L02' 'APP' 'DAC' 'BHG' 'NSH' 'NPT' 'L16' 'PV3' 'LOG'
 'ASC' 'AGS' 'ARG' 'DON' 'VIK' 'ARB' 'HHH' 'ANT' 'WRG' 'PBL' 'OMH' 'CRG'
 'UBA' 'ASH' 'COK' 'RPH' 'STV' 'NAS' 'SSS' 'LEO' 'KNG' 'KIP' 'ASS' 'GDA'
 'STR' 'CAW' 'GET' 'HAN' 'DEL' 'FLD' 'L25' 'MER' 'SYC' 'HAM' 'PSM' 'HIL'
 'SPN' 'DNB' 'GPS' 'ASP' 'INN' 'ABW' 'CFI' 'JFY' 'LAK' 'LVT' 'RED' 'TIM'
 'MON' 'MM3' 'FAR' 'MTR' 'HOW' 'FOR' 'LKE' 'DBL' 'K3M' 'PGR' 'ADD' 'IML'
 'SMZ' 'CNT' 'SUN' 'MCC' 'BEL' 'TVF' 'TRN' 'PCL' 'HRB' 'OVS' 'WFD' 'TX2'
 'NWF' 'KEN' 'NSN' 'NEW' 'CJR' 'NHB' 'FCR' 'BSM' 'SIG' 'CHT' 'CAP' 'TVG'
 'SUF' 'PRV' 'TRO' 'GUR' 'WIG' 'MAT' 'D02' 'GLP' 'HEA' 'BLI' 'EAS' 'SFH'
 'PBK' 'TOR' 'HJR' 'MCO' 'IWD' 'HER' 'MB1' 'CHK' 'SHL' 'STA' 'EPL' 'WWC'
 'AHC' 'TV1' 'CHS' 'GAR' 'MGR' 'OD1' 'SPG' 'ADM' 'L11' 'PWR' 'SRN' 'DSN'
 'HFS' 'SMC' 'PGA' 'TPS' 'BED' 'CNC' 'L07' 'AKM' 'BAN' 'MBB' 'DDA' 'TVH'
 'BRE' 'YAL' 'L23' 'ROA' 'MV2' 'NSM' 'VTM' 'BRK' 'QUI' 'L03' 'SEB' 'COH'
 'STK' 'CMT' 'HHS' 'L22' 'DTM' 'CUL' 'HUT' 'EMI' 'MWD' 'LAN' 'SEP' 'IHD'
 'ASE' 'HDP' 'HHB' 'CCP' 'LIF' 'NPP' 'ARM' 'SCP' 'ASK' 'BMG' 'DPH' 'AQK'
 'PAR' 'CRN' 'AUS' 'SMM' 'DML' 'TVC' 'ARC' 'DTR' 'MAD' 'PHR' 'NG2' 'ADA'
 'SES' 'RCS' 'MBT' 'AQU' 'QNT' 'COS' 'LPN' 'AMJ' 'TAS' 'FIN' 'DLG' 'SPR'
 'UNV' 'IDM' 'MYO' 'MST' 'IDE' 'GPB' 'BTC' 'PLU' 'MIC' 'TX1' 'MDC' 'SEQ'
 'NTW' 'MNT' 'MC1' 'MYS' 'GHS' 'GOD' 'SHM' 'SCO' 'YKA' 'PME' 'NAP' 'SMS'
 'EP1' 'OUL' 'REF' 'L06' 'L0C' 'HMK' 'TYL' 'FIG' 'FOS' 'USS' 'SHE' 'DLM'
 'OLY' 'MCF' 'COW' 'RAY' 'ACT' 'NSL' 'EHR' 'TLB' 'YKD' 'NYH' 'OXM' 'ANN'
 'SH1' 'AHB' 'WLW' 'DHR' 'USA' 'NAM' 'MV1' 'OLD' 'GPD' 'RSC' 'MM2' 'NFB'
 'HEL' 'TRU' 'DOW' 'OHI' 'DLL' 'NCD' 'KUR' 'PCC' 'ACG' 'LRS' 'PTP' 'CED'
 'TRV' 'L0L' 'CRE' 'LCS' 'SMI' 'SFL' 'MM1' 'SYZ' 'WAL' 'SUM' 'PTS' 'AHL'
 'GCP' 'GLN' 'MSE' 'INB' 'NWD' 'WAR' 'JUD' 'SPT' 'FLM' 'NOR' 'STE' 'SST'
 'USU' 'FIV' 'HHV' 'DBD' 'BIB' 'MSB' 'ACC' 'ABC' 'SIM' 'FGM' 'HMP' 'LEE'
 'DRH' 'ENC' 'PBW' 'VIG' 'THM' 'HCK' 'EPS' 'RBA' 'MIL' 'HSP' 'CRH' 'GSC'
 'PUR' 'AMU' 'CNL' 'OHS' 'RPC' 'CFF' 'HVR' 'PUB' 'ACB' 'WIS' 'DWC' 'LEI'
 'DAT' 'SWI' 'AP1' 'ASD' 'DNL' 'FCC' 'MLF' 'MAY' 'BHL' 'DBT' 'TRA' 'SSZ'
 'MHM' 'PLN' 'SAT' 'ORG' 'FII' 'NES' 'NWL' 'CPB' 'WWF' 'ALD' 'BUY' 'EPI'
 'HHC' 'GBK' 'ATS' 'SPC' 'AIC' 'HRM' 'ISL' 'AR1' 'SSL' 'VBK' 'JHO' 'MGU'
 'YNF' 'TOG' 'GDF' 'TMX' 'ATP' 'NCC' 'HHN' 'SHU' 'SWP' 'VFW' 'JJG' 'MMK'
 'ADR' 'HTL' 'VSH' 'BOS' 'MSH' 'FWF' 'L14' 'TOT' 'HLQ' 'WTW' 'AHA' 'MFL'
 'AMT' 'EQM' 'DIA' 'CRT' 'WOR' 'LSH' 'CCI' 'FNC' 'NCS' 'CTH' 'LEM' 'TMT'
 'TOD' 'NPW' 'DUN' 'FAM' 'ALF' 'ABD' 'CIO' 'SEX' 'THE' 'NGR' 'L09' 'RBM'
 'BYL' 'TRI' 'LOB' 'TMW' 'BEE' 'WDY' 'RHM' 'AHR' 'WDH' 'PBY' 'SPM' 'FTH'
 'HLN' 'NET' 'RLT' 'NDL' 'HAC' 'CYB' 'CBL' 'NER' 'CIR' 'MIQ' 'DAY' 'SNR'
 'WMD' 'CHI' 'LIL' 'TWN' 'MWA' 'NWT' 'WBY' 'KNI' 'BFD' 'BBU' 'MTS' 'GEB'
 'ROM' 'VAE' 'L13' 'JCD' 'USN' 'DRL' 'L17' 'KOR' 'AVD' 'PPM' 'MIS' 'SCA'
 'TWM' 'CRP' 'NTC' 'HLA' 'OD2' 'DCK' 'SFW' 'STY' 'NHP' 'ALL' 'ABP' 'PNY'
 'ATL' 'GFM' 'ARE' 'DMI' 'SCL' 'STJ' 'AHN' 'CMF' 'BBO' 'PHO' 'CAT' 'SOP'
 'SLF' 'FRM' 'CLP' 'AUD' 'EAR' 'APL' 'BBT' 'PPD' 'AVS' 'GEN' 'JNC' 'AHM'
 'CLL' 'CVO' 'HTG' 'CTW' 'BBW' 'SCU' 'IHS' 'WIL' 'BAR' 'NUR' 'LRD' 'CNA'
 'SSN' 'WWM' 'COM' 'L24' 'BHW' 'HOR' 'PCA' 'FRN' 'SSC' 'RCW' 'BLV' 'VVM'
 'MGV' 'NCH' 'FST' 'NSA' 'FHN' 'CRM' 'PAT' 'AEW' 'SUR' 'LEG' 'NNS' 'ZOY'
 'MLK' 'FOP' 'TVM' 'USL' 'BML' 'NWP' 'NPL' 'OWN' 'EXP' 'PPL' 'SNW' 'BAS'
 'YAN' 'VDB' 'GSP' 'DAN' 'COP' 'QEC' 'CSC' 'IFS' 'CSP' 'ALS' 'FDP' 'PSC'
 'CPL' 'ESM' 'CRS' 'ELL' 'IRC' 'STP' 'AAD' 'MET' 'JLR' 'NYL' 'REG' 'MDB'
 'WND' 'AMV' 'CCB' 'SEL' 'CUI' 'HMV' 'PBC' 'SDF' 'IMC' 'CAB' 'ICK' 'MLJ'
 'JTB' 'SPH' 'NHR' 'FNH' 'KCP' 'HST' 'TLL' 'LST' 'TRE' 'ENT' 'VCS' 'AFP'
 'PRO' 'PAL' 'POI' 'RVP' 'NCE' 'BTY' 'SH3' 'NON' 'ACP' 'HFH' 'TFS' 'SHK'
 'POP' 'CGK' 'AMZ' 'BYB' 'AAA' 'HSC' 'WKC' 'EXS' 'CRL' 'RCH' 'KTB' 'PWD'
 'BHB' 'JRV' 'ECK' 'COL' 'INM' 'WRK' 'CDC' 'RNM' 'MRB' 'SWM' 'LA2' 'CJL'
 'RDM' 'CYR' 'SIW' 'SHP' 'BTR' 'HNZ' 'HPS' 'GFW' 'TRL' 'AMG' 'ISC' 'BLT'
 'HOL' 'SJS' 'ARZ' 'BDG' 'POS' 'CKD' 'D01' 'AWK' 'FSC' 'OPR' 'NSS' 'SPI'
 'MCN' 'PER' 'MBL' 'HSQ' 'CHW' 'FHL' 'CIL' 'USO' 'HCT' 'CVH' 'CRF' 'SMT'
 'RNT' 'CON' 'FDM' 'PRA' 'TSH' 'LA1' 'FLA' 'GLD' 'MPL' 'LE2' 'SAZ' 'AMR'
 'BUR' 'BEA' 'AHS' 'KIT' 'RNS' 'LON' 'MID' 'LED' 'CHB' 'EAL' 'GDM' 'REP'
 'SUC' 'FIF' 'NHE' 'PAV' 'PRT' 'NG1' 'TAB' 'RSM' 'BMS' 'ACL' 'LEW' 'SSM'
 'CKT' 'CCM' 'MWC' 'FPG' 'ROY' 'CSD' 'CMM' 'CNS' 'ERC' 'BET' 'GNC' 'HMM'
 'POW' 'WCP' 'LEA' 'SH2' 'LWN' 'DEF' 'GAD' 'EPF' 'SOC' 'HSF' 'ACR' 'HCA'
 'HHA' 'LUK' 'GFD' 'WER' 'SLS' 'ACN' 'CVP' 'ORT' 'VGL' 'ASB' 'HHD' 'HWB'
 'NCF' 'TVP' 'AMS' 'SCT' 'SDP' 'BIR' 'STU' 'CHR' 'AKF' 'NCM' 'CMB' 'HPR'
 'L20' 'HYP' 'IAP' 'PEN' 'DNC' 'IDL' 'BRP' 'AAM' 'WLD' 'CAM' 'NPA' 'UPP'
 'COY' 'MGA' 'BKS' 'CMP' 'CHM' 'BRC' 'AME' 'INT' 'NRM' 'TRS' 'MDD' 'DEC'
 'SUP' 'TMS' 'MFA' 'TCW' 'RRR' 'CTY' 'BCN' 'SAL' 'INC' 'CCS' 'ICR' 'PRE'
 'AGF' 'UNI' 'GFT' 'NUM' 'MEN' 'JTA' 'WRT' 'SNU' 'EWK' 'AFR' 'SE1' 'MAS'
 'VXW' 'CGS' 'PKS' 'FRA' 'FMK' 'MDA' 'MEC' 'UNQ' 'SEA' 'MYK' 'MSC' 'MSP'
 'HRT' 'MRC' 'ANR' 'NPS' 'CDN' 'CCC' 'CYD' 'SIF' 'EAT' 'CHD' 'CMS' 'HSL'
 'SEW' 'SSB' 'IAW' 'BLU' 'NSC' 'CAC' 'LHL' 'CWS' 'HUD' 'GRD' 'IBC' 'JAY'
 'ACD' 'ARF' 'AI2' 'SOD' 'GHM' 'RMI' 'RNC' 'VIC']
Unique values in column STATE: ['IL' 'CA' 'NC' 'FL' 'AL' 'IN' 'LA' 'IA' 'TN' 'KS' 'MN' 'UT' 'MI' 'MO'
 'TX' 'OR' 'WA' 'WI' 'GA' 'OK' 'SC' 'KY' 'MD' 'SD' 'NV' 'NE' 'AZ' 'VA'
 'ND' 'AK' 'AR' 'NM' 'MT' 'MS' 'AP' 'CO' 'AA' 'HI' 'ME' 'WY' 'ID' 'OH'
 'NJ' 'MA' 'VT' 'NY' 'PA' 'DC' 'AE' 'CT' 'DE' 'WV' 'RI' 'GU' 'AS' 'NH'
 'VI']
Unique values in column ZIP: ['61081' '91326' '27017' ... '55932' '92581' '32776-']
Unique values in column MAILCODE: [' ' 'B']
Unique values in column PVASTATE: [' ' 'P' 'E']
Unique values in column NOEXCH: ['0' '1' 'X' 0 1 ' ']
Unique values in column RECINHSE: [' ' 'X']
Unique values in column RECP3: [' ' 'X']
Unique values in column RECPGVG: [' ' 'X']
Unique values in column RECSWEEP: [' ' 'X']
Unique values in column MDMAUD: ['XXXX' 'C1CM' 'D1CM' 'L1CM' 'C2CM' 'D2CM' 'I1CM' 'I2MM' 'I1LM' 'L2CM'
 'C1MM' 'C1LM' 'D5CM' 'I2CM' 'D5TM' 'L1LM' 'D5MM' 'C2MM' 'I5CM' 'C5CM'
 'I5MM' 'C2LM' 'C5MM' 'D2MM' 'L1MM' 'L2LM' 'C5TM' 'L2TM']
Unique values in column DOMAIN: ['T2' 'S1' 'R2' 'S2' 'T1' 'R3' 'U1' 'C2' 'C1' 'U3' ' ' 'R1' 'U2' 'C3' 'U4'
 'S3' 'T3']
Unique values in column CLUSTER: ['36' '14' '43' '44' '16' '40' '39' '45' '35' '53' '17' '51' '2' '20' '27'
 '12' '22' '13' '8' '25' '15' ' ' '42' '11' '28' '18' '24' '34' '5' '31'
 '32' '46' '3' '50' '7' '37' '10' '38' '21' '9' '29' '30' '4' '41' '49'
 '23' '33' '1' '47' '26' '48' '19' '6' '52']
Unique values in column AGEFLAG: [' ' 'E' 'I']
Unique values in column HOMEOWNR: [' ' 'H' 'U']
Unique values in column CHILD03: [' ' 'M' 'F' 'B']
Unique values in column CHILD07: [' ' 'M' 'B' 'F']
Unique values in column CHILD12: [' ' 'F' 'M' 'B']
Unique values in column CHILD18: [' ' 'M' 'F' 'B']
Unique values in column GENDER: ['F' 'M' ' ' 'C' 'U' 'J' 'A']
Unique values in column DATASRCE: [' ' '3' '1' '2']
Unique values in column SOLP3: [' ' '0' '12' '1' '2']
Unique values in column SOLIH: [' ' '12' '0' '2' '1' '4' '6' '3']
Unique values in column MAJOR: [' ' 'X']
Unique values in column GEOCODE: [' ' '2' '3' '5' '4' '14' '1' '12']
Unique values in column COLLECT1: [' ' 'Y']
Unique values in column VETERANS: [' ' 'Y']
Unique values in column BIBLE: [' ' 'Y']
Unique values in column CATLG: [' ' 'Y']
Unique values in column HOMEE: [' ' 'Y']
Unique values in column PETS: [' ' 'Y']
Unique values in column CDPLAY: [' ' 'Y']
Unique values in column STEREO: [' ' 'Y']
Unique values in column PCOWNERS: [' ' 'Y']
Unique values in column PHOTO: [' ' 'Y']
Unique values in column CRAFTS: [' ' 'Y']
Unique values in column FISHER: [' ' 'Y']
Unique values in column GARDENIN: [' ' 'Y']
Unique values in column BOATS: [' ' 'Y']
Unique values in column WALKER: [' ' 'Y']
Unique values in column KIDSTUFF: [' ' 'Y']
Unique values in column CARDS: [' ' 'Y']
Unique values in column PLATES: [' ' 'Y']
Unique values in column LIFESRC: [' ' '3' '1' '2']
Unique values in column PEPSTRFL: ['X' ' ']
Unique values in column RFA_2: ['L4E' 'L2G' 'L2F' 'L1F' 'L1E' 'L3E' 'L4D' 'L1G' 'L3D' 'L2E' 'L3F' 'L3G'
 'L4F' 'L4G']
Unique values in column RFA_3: ['S4E' 'A2G' 'A2F' 'A1F' 'A1E' 'A3E' 'F1F' 'N2F' 'S4D' 'A1G' 'S2D' 'F1G'
 ' ' 'S2E' 'N1G' 'S2G' 'A3F' 'S3G' 'S3F' 'S3D' 'S2F' 'A4E' 'N1F' 'A4D'
 'S3E' 'A3G' 'N3E' 'A4F' 'A1D' 'N3G' 'N2E' 'A2E' 'F1E' 'S4F' 'S4G' 'N2G'
 'L1G' 'N3F' 'A4G' 'A3D' 'A2D' 'N4F' 'N4D' 'L1F' 'L2F' 'N4E' 'L2G' 'N4G'
 'F1C' 'L3G' 'N2C' 'F1D' 'N1E' 'N2D' 'L3F' 'L4E' 'N1D' 'N3D' 'L3E' 'S2B'
 'L4F' 'S2C' 'L4G' 'A3C' 'S4C' 'S4B' 'A4C' 'A2C' 'S3B' 'N1C' 'S3C']
Unique values in column RFA_4: ['S4E' 'A2G' 'A2F' 'A1F' 'A1E' 'A3E' 'F1F' 'N2F' 'S4D' 'A1G' 'S2D' 'F1G'
 ' ' 'S2E' 'N1G' 'S2G' 'A3F' 'S3G' 'S3F' 'S3D' 'S2F' 'A4E' 'N1F' 'A4D'
 'A2D' 'S3E' 'A3G' 'N3E' 'A4F' 'N3G' 'N2E' 'A2E' 'F1E' 'S4F' 'S4G' 'N2G'
 'L1G' 'N3F' 'A4G' 'A3D' 'N4F' 'N4D' 'L1F' 'L2F' 'N4E' 'N3D' 'L2G' 'N4G'
 'N2C' 'L3G' 'F1D' 'N1E' 'N2D' 'L3F' 'A1D' 'A3C' 'L4F' 'S2C' 'L4G' 'S4C'
 'S4B' 'A4C' 'S3B' 'S3C']
Unique values in column RFA_5: ['S4E' 'A2G' 'A2F' 'A1F' ' ' 'A3E' 'N2F' 'S4D' 'A1G' 'S3E' 'A4E' 'S2G'
 'A3F' 'S3G' 'S2E' 'S3F' 'S2F' 'A4D' 'L4G' 'A3G' 'N3E' 'A4F' 'N3G' 'A2E'
 'S4F' 'S4G' 'N3F' 'A4G' 'N4D' 'N2G' 'N4E' 'A3D' 'N4G' 'N4F' 'N1G' 'L3G'
 'N2E' 'L2G' 'L1G' 'L4F' 'L3F']
Unique values in column RFA_6: ['S4E' 'A2G' 'A1D' 'A1F' 'A1E' 'A3E' 'F1F' 'N2F' 'S3D' 'A1G' 'A2F' 'L1E'
 'I3G' 'S2D' 'F1G' 'S3E' 'S2E' 'A4E' 'A4D' 'N1F' 'N2G' 'S3G' 'A3F' 'S2G'
 'S4G' 'N1E' 'S4F' 'L2E' 'I2E' 'A2E' 'L2D' ' ' 'N4E' 'A4F' 'S4D' 'S3F'
 'I1E' 'I2F' 'L1F' 'A3G' 'N2E' 'N3E' 'N3F' 'N4G' 'L4F' 'S2F' 'N2D' 'A2D'
 'I1G' 'L2F' 'F1E' 'N1G' 'N1D' 'A4G' 'N4D' 'L1G' 'L2G' 'L1D' 'A3D' 'N3G'
 'F1D' 'A1C' 'I4E' 'I4F' 'L3E' 'L4E' 'N4F' 'L3F' 'I3F' 'A1A' 'I1F' 'L3D'
 'I2G' 'F1C' 'S4C' 'N3D' 'L4D' 'A2C' 'L3G' 'L1C' 'A4C' 'P1F' 'S2C' 'A3C'
 'U1E' 'U1F' 'L4G' 'I4G' 'I3E' 'N1C' 'S3B' 'U1G' 'S2B' 'U1D' 'S3C' 'A1B'
 'L3C' 'N2C' 'P1G' 'L4C' 'S4B' 'A3B' 'N3C' 'I4D' 'U1C' 'P1A' 'A2B' 'L2C'
 'I1D']
Unique values in column RFA_7: ['S4E' 'A1E' 'S4F' 'I2D' 'A2F' 'S2E' 'A3E' 'S2F' 'A1F' 'P1F' 'F1F' ' '
 'S3G' 'A3F' 'A1D' 'N2F' 'S2D' 'F1G' 'N3E' 'A2E' 'N2G' 'A3G' 'A1G' 'N1E'
 'A4F' 'L2E' 'N1F' 'S4D' 'L3D' 'N4E' 'P1G' 'N1G' 'A2G' 'L2F' 'A4D' 'S3E'
 'S3F' 'A2C' 'L1E' 'A3D' 'L1F' 'A4G' 'P1A' 'N2E' 'L3G' 'F1E' 'L2G' 'A4E'
 'S2G' 'S4G' 'A2D' 'N4D' 'N1D' 'S3D' 'N3F' 'P1E' 'L4F' 'F1D' 'L3F' 'S3C'
 'L3E' 'A4C' 'N2D' 'N3D' 'L1D' 'N3G' 'L4E' 'L1G' 'P1D' 'N4F' 'I2G' 'I1G'
 'I3F' 'L2D' 'P1C' 'A3C' 'A1C' 'L4D' 'N2C' 'L4G' 'N4G' 'I4G' 'S4C' 'S2C'
 'S4B' 'I4F' 'I3G' 'F1C' 'N3C' 'S3B' 'I2F' 'I2E' 'A3B' 'A1B' 'U1G' 'I3E'
 'N4C' 'N1C' 'S2B' 'A4B' 'I4D' 'I3D' 'I4E' 'A2B' 'L4C' 'L3C']
Unique values in column RFA_8: ['S4E' 'A1E' 'S4F' 'A2F' 'S2E' 'A3E' 'S2F' 'A1F' 'P1F' 'F1F' 'S2C' 'S3G'
 'A3F' ' ' 'A1D' 'N2F' 'S2D' 'F1G' 'A1G' 'N3E' 'A2E' 'A3D' 'N2G' 'A3G'
 'N1E' 'A4F' 'L2E' 'N1F' 'S4D' 'L3D' 'N4E' 'P1G' 'S3D' 'N1G' 'A2G' 'L2F'
 'A4D' 'S3E' 'S3F' 'A2C' 'L1E' 'L1F' 'A4G' 'N2E' 'L3G' 'F1E' 'L2G' 'F1D'
 'A4E' 'S2G' 'S4G' 'N1D' 'A2D' 'N4D' 'N3F' 'P1E' 'L4F' 'L3F' 'S3C' 'L3E'
 'A4C' 'P1A' 'N2D' 'N3D' 'L1D' 'L1G' 'N4G' 'N3G' 'L4E' 'P1D' 'N4F' 'I2G'
 'I1G' 'I3F' 'L2D' 'I3G' 'P1C' 'U1F' 'S4C' 'A3C' 'A1C' 'F1C' 'L4D' 'L4G'
 'A1B' 'N2C' 'I4G' 'U1E' 'S4B' 'U1G' 'N3C' 'I2D' 'S3B' 'I4F' 'I2F' 'N1C'
 'N4C' 'I2E' 'A3B' 'S2B' 'U1C' 'A2B' 'U1D' 'A4B' 'I3D' 'I4E' 'L4C' 'I3E'
 'L3C']
Unique values in column RFA_9: ['S4E' 'A1E' 'S4F' 'A2F' 'S3E' 'A3E' 'S2F' 'A1F' ' ' 'S2C' 'S2G' 'A3F'
 'L1E' 'U1G' 'A1D' 'N2F' 'S2D' 'A1G' 'N2E' 'L1G' 'A2E' 'A4D' 'F1F' 'N2G'
 'A3G' 'N1E' 'F1G' 'S3G' 'A4F' 'S2E' 'N1F' 'S3D' 'N3E' 'N4E' 'S4D' 'F1E'
 'N1G' 'A2G' 'P1G' 'L2F' 'N4D' 'L3E' 'A3C' 'A3D' 'F1D' 'L3G' 'S3F' 'L2G'
 'A4E' 'S4G' 'L1D' 'A2D' 'I1G' 'N1D' 'N3D' 'N2D' 'L1F' 'P1F' 'I2E' 'S3C'
 'L2E' 'L4E' 'A4C' 'L3F' 'S3B' 'N3F' 'N4G' 'I2F' 'N3G' 'L2D' 'L3D' 'N4F'
 'A4G' 'A1A' 'A1C' 'I4E' 'I3G' 'S4C' 'P1E' 'L4G' 'U1F' 'N2A' 'L4F' 'L4D'
 'A1B' 'N2C' 'I3E' 'I2G' 'F1C' 'N1C' 'A2C' 'I4G' 'N3C' 'I3F' 'P1D' 'P1C'
 'P1A' 'I4F' 'I1F' 'N4C' 'S4B' 'A4B' 'S2B' 'A2B' 'A3B' 'U1D' 'I1E']
Unique values in column RFA_10: ['S4E' 'A1E' ' ' 'L1D' 'A2F' 'S3E' 'A2D' 'A1F' 'S2G' 'A3F' 'L1E' 'A1D'
 'N1F' 'S2D' 'S4F' 'N2E' 'A2E' 'F1F' 'N2G' 'A3G' 'A1G' 'A4G' 'F1E' 'S2E'
 'N3E' 'A4F' 'A3E' 'N4E' 'S4G' 'N1G' 'A2G' 'N4D' 'S3F' 'A4C' 'S3G' 'S4D'
 'N1E' 'S2F' 'F1G' 'A3D' 'F1D' 'A4D' 'N1D' 'N2F' 'N3D' 'A4E' 'N2D' 'S3D'
 'N3F' 'N4G' 'I1F' 'S4C' 'A1C' 'N3G' 'I3F' 'L4E' 'L3F' 'L1F' 'I3G' 'A2B'
 'I1G' 'N4F' 'N2C' 'I2G' 'A3C' 'L2D' 'A2C' 'N3C' 'S2C' 'S3C' 'I4F' 'L2E'
 'I3E' 'I2E' 'I4G' 'I4E' 'N1C' 'L1G' 'L2F' 'L2G' 'L4F' 'I2F' 'I2D' 'I3D'
 'I4D' 'L3E' 'N4C' 'F1C' 'A1B' 'L4G' 'L3D' 'I4C' 'L3G' 'A4B']
Unique values in column RFA_11: ['S4E' 'A1E' 'S4F' 'A2F' 'S3E' 'A2D' 'A1F' ' ' 'P1F' 'L1D' 'S2G' 'A3F'
 'L1E' 'A1D' 'N1F' 'S2D' 'P1G' 'N2E' 'L1G' 'A2E' 'F1F' 'N2G' 'A3G' 'N1E'
 'A1G' 'A4G' 'F1E' 'A4F' 'S2E' 'N3E' 'A3E' 'N4E' 'S4D' 'S4G' 'S3D' 'N1G'
 'A2G' 'L2F' 'N4D' 'L3E' 'S3F' 'A4C' 'L3F' 'S3G' 'F1D' 'S2F' 'L2G' 'F1G'
 'A3D' 'I1G' 'A4D' 'N1D' 'N2F' 'N3D' 'N2D' 'A4E' 'L1F' 'P1A' 'I2E' 'P1D'
 'L2E' 'L4E' 'S4B' 'N3F' 'P1E' 'N4G' 'I2F' 'I1F' 'S4C' 'N3G' 'L2D' 'L3D'
 'A1C' 'I3G' 'L3G' 'N4F' 'L4G' 'I4E' 'L4F' 'P1C' 'A1B' 'N2C' 'I3E' 'I2G'
 'F1C' 'A3C' 'S3C' 'I4G' 'A2C' 'N3C' 'I3F' 'L4D' 'S2C' 'S3B' 'I4F' 'N4C'
 'N1C' 'A3B' 'A4B' 'S2B' 'A2B']
Unique values in column RFA_12: ['S4E' 'A1E' 'S4F' 'A2F' 'S3E' 'A2D' 'A1F' ' ' 'P1F' 'L1D' 'S2G' 'A3F'
 'L1E' 'A1D' 'N1F' 'S2D' 'P1G' 'A1G' 'N2E' 'L1G' 'A2E' 'F1F' 'N2G' 'A3G'
 'N1E' 'A4G' 'F1E' 'A4F' 'S2E' 'N3E' 'A3E' 'N4E' 'S4D' 'S4G' 'S3D' 'N1G'
 'A2G' 'L2F' 'N4D' 'L3E' 'S3F' 'A4C' 'L3F' 'S3G' 'F1D' 'S2F' 'L2G' 'F1G'
 'A3D' 'I1G' 'P1A' 'A4D' 'N1D' 'N2F' 'N3D' 'N2D' 'A4E' 'L1F' 'U1F' 'P1E'
 'I2E' 'P1D' 'L2E' 'L4E' 'S4B' 'N3F' 'N4G' 'I2F' 'I1F' 'S4C' 'N3G' 'L2D'
 'L3D' 'A1C' 'I3G' 'L3G' 'N4F' 'L4G' 'I4E' 'U1G' 'U1D' 'L4F' 'P1C' 'A1B'
 'N2C' 'U1E' 'I2G' 'F1C' 'A3C' 'S3C' 'I4G' 'A2C' 'N3C' 'I3F' 'L4D' 'S2C'
 'S3B' 'I4F' 'I3E' 'N4C' 'U1C' 'F1B' 'N1C' 'A3B' 'A4B' 'S2B' 'A2B']
Unique values in column RFA_13: ['S4E' ' ' 'S4F' 'L1D' 'A2F' 'S3E' 'A2D' 'A1F' 'S2G' 'N1F' 'N2E' 'A2E'
 'N2G' 'A2G' 'F1E' 'A1G' 'A3G' 'A4F' 'F1F' 'S2E' 'A3F' 'A3E' 'S4D' 'S4G'
 'S3D' 'N1G' 'A4G' 'N3D' 'S3F' 'S3G' 'N3E' 'S2F' 'F1G' 'N1E' 'N4D' 'A4D'
 'A3D' 'N2F' 'N4E' 'A4E' 'N4F' 'L1E' 'N3G' 'A4C' 'S4B' 'N3F' 'N4G' 'S4C'
 'I2D' 'L1F' 'A1E' 'N1D' 'A4B' 'I3F' 'I3D' 'N2D' 'I2E' 'I4D' 'I4F' 'I2F'
 'I1F' 'I4G' 'I1G' 'N1C' 'L4F' 'N4C' 'I4E' 'F1D' 'L1G' 'U1G' 'F1C' 'L2D'
 'U1E' 'I2G' 'L4E' 'I3E' 'U1D' 'L3G' 'L3F' 'I3G' 'L3D' 'L4G' 'L2G' 'I4C'
 'N2C' 'F1B' 'U1F']
Unique values in column RFA_14: ['S4E' ' ' 'S4F' 'L3D' 'A2F' 'S2E' 'A1D' 'A1F' 'S2G' 'A3F' 'F1F' 'S2D'
 'N2E' 'L1G' 'A1E' 'S3E' 'P1F' 'A2G' 'F1E' 'P1G' 'A1G' 'A3G' 'A4F' 'A2E'
 'A2D' 'A4E' 'S4D' 'S4G' 'S3D' 'S3F' 'F1G' 'A4G' 'L2F' 'N3D' 'L4E' 'A3C'
 'L3F' 'N1F' 'P1D' 'P1E' 'N1D' 'L1F' 'N2D' 'S2F' 'N2F' 'L3E' 'N2G' 'N1E'
 'S3G' 'F1D' 'A3D' 'A4D' 'A3E' 'N3E' 'N2C' 'L4G' 'N3G' 'A4C' 'L2E' 'S4B'
 'N1C' 'S4C' 'N4E' 'L4F' 'N1G' 'A1C' 'I3F' 'P1A' 'L2G' 'A4B' 'I3G' 'N4D'
 'U1D' 'N3F' 'A2C' 'L3G' 'S2C' 'S3C' 'P1C' 'F1C' 'N4G' 'L4D' 'N4F' 'S3B'
 'I3E' 'I4G' 'S2B' 'N4C' 'N3C' 'N2B' 'I4F' 'A3B' 'U1E' 'I4E' 'L2D']
Unique values in column RFA_15: ['S4E' ' ' 'S4F' 'A2F' 'S2G' 'A3F' 'S3D' 'S3E' 'A2G' 'A1G' 'A3G' 'A4F'
 'A4E' 'N2E' 'S4D' 'S4G' 'S3F' 'A4G' 'S2F' 'N2F' 'N2G' 'A3E' 'S3G' 'N3D'
 'A3D' 'N3E' 'A4D' 'N3G' 'N4E' 'N3F' 'N4D' 'N4G' 'N4F' 'U1F']
Unique values in column RFA_16: ['S4E' 'L1E' 'S4F' 'L3D' 'N3F' 'S3E' 'N2D' 'A1F' 'A1E' ' ' 'L1D' 'S2G'
 'A2F' 'N1E' 'S2D' 'F1F' 'N2G' 'F1D' 'L2G' 'S2E' 'I1D' 'A2D' 'A2G' 'F1E'
 'A1G' 'I1E' 'A4F' 'S4D' 'A2E' 'A1D' 'N2E' 'A4E' 'U1G' 'S4G' 'F1G' 'N3G'
 'L2E' 'L1G' 'S2F' 'N2C' 'S3F' 'N4C' 'L2F' 'L2C' 'N1F' 'N2F' 'A3E' 'L1F'
 'L2D' 'A3F' 'I3D' 'N4D' 'N4F' 'I3F' 'S3D' 'F1C' 'A4G' 'L3F' 'S3G' 'L3E'
 'I1F' 'N3D' 'S3C' 'A1C' 'A2C' 'L4F' 'S4B' 'I1G' 'A4D' 'A1B' 'S4C' 'L4D'
 'A3D' 'L4E' 'N4E' 'N3E' 'I2F' 'I3E' 'N1C' 'L3G' 'A3G' 'I2G' 'N4G' 'U1D'
 'N1D' 'L1C' 'U1F' 'A2B' 'L4G' 'U1E' 'I2E' 'F1A' 'I4E' 'N1G' 'I2D' 'A4C'
 'I4D' 'N1B' 'S2C' 'L4C' 'A1A' 'A3C' 'I4F' 'N3C' 'U1C' 'I4G' 'S2B' 'I2C'
 'A4B' 'I1C' 'F1B' 'N2B' 'I3G' 'I1B' 'L3C' 'S3B' 'P1D' 'S2A' 'A3B' 'P1E'
 'S4A' 'P1C' 'I3C']
Unique values in column RFA_17: ['S4E' ' ' 'S2D' 'A2D' 'N2E' 'S2E' 'N2D' 'A1F' 'A1E' 'A1D' 'A2E' 'N1E'
 'A1G' 'L1D' 'P1F' 'L4F' 'A2F' 'A3E' 'L1E' 'P1E' 'A4F' 'S4D' 'P1A' 'N3D'
 'N4E' 'S2G' 'S3G' 'S2F' 'F1C' 'S3E' 'S3F' 'N3C' 'F1F' 'F1D' 'L2G' 'L3E'
 'A2G' 'N1D' 'A3G' 'N1F' 'L2F' 'S4F' 'P1G' 'F1E' 'L1F' 'L3D' 'S3D' 'L1G'
 'L2D' 'P1D' 'N3F' 'A4E' 'I1E' 'P1C' 'S4G' 'L2E' 'N4F' 'N1G' 'I1F' 'S4C'
 'A3F' 'A2C' 'A3D' 'N2C' 'A4G' 'L2C' 'N2F' 'I2E' 'L3G' 'A4D' 'I2G' 'F1G'
 'A4C' 'L3F' 'N2G' 'S3C' 'N4D' 'L4D' 'I4E' 'N1C' 'I2F' 'N4G' 'L4E' 'L1C'
 'A1C' 'I1G' 'L4G' 'N3E' 'I3E' 'A1B' 'N3G' 'U1F' 'S4B' 'I3F' 'U1D' 'I4D'
 'S2C' 'I2D' 'I1D' 'A3C' 'U1E' 'I4F' 'I3D' 'S2B' 'L3C' 'N4C' 'A4B' 'I3G'
 'I4G' 'A2B' 'S2A' 'L4C' 'S3B' 'U1G' 'A3B' 'N2B' 'A4A' 'S4A']
Unique values in column RFA_18: ['S4E' ' ' 'S4D' 'S2D' 'A2D' 'N2E' 'S2E' 'N2D' 'A1F' 'A1E' 'A1D' 'A2E'
 'N1E' 'I1G' 'A1G' 'U1F' 'L1D' 'P1F' 'L4F' 'A2F' 'P1E' 'L1E' 'A2G' 'A3E'
 'N3D' 'N4E' 'S2G' 'S3G' 'N1D' 'A4F' 'S2F' 'F1C' 'S3E' 'S3F' 'N3C' 'F1F'
 'F1D' 'L2G' 'L3E' 'A3G' 'N1F' 'L2F' 'S4F' 'P1G' 'F1E' 'L1F' 'L3D' 'S3D'
 'L1G' 'P1D' 'L2D' 'N3F' 'A4E' 'I1E' 'P1C' 'S4G' 'L2E' 'N4F' 'N1G' 'I1F'
 'S4C' 'A3F' 'N4D' 'A2C' 'A3D' 'N2C' 'A4G' 'L2C' 'S4B' 'N2F' 'I2E' 'L3G'
 'A4D' 'I2G' 'F1G' 'A4C' 'L3F' 'U1E' 'N2G' 'S3C' 'U1D' 'S2C' 'L4D' 'I4E'
 'N1C' 'I2F' 'N4G' 'L4E' 'L1C' 'A1C' 'A2B' 'L4G' 'N3E' 'I3E' 'P1A' 'N3G'
 'I3F' 'I4D' 'A1B' 'U1G' 'I2D' 'I1D' 'A3C' 'I4F' 'N4C' 'I3D' 'S2B' 'I3G'
 'L3C' 'A4B' 'N2B' 'P1B' 'U1C' 'S3B' 'A3B' 'S2A' 'L4C' 'S3A' 'I4G' 'S4A'
 'A4A' 'N3B']
Unique values in column RFA_19: ['S4E' 'N1E' 'S4D' 'A1D' 'A3D' 'N2E' 'A2E' 'N2D' 'A1F' ' ' 'F1E' 'I1G'
 'N2G' 'A1G' 'S2E' 'L1D' 'A2D' 'L4F' 'A2F' 'S2F' 'L1E' 'A1E' 'S3E' 'N3D'
 'N1D' 'N4E' 'S3G' 'S2D' 'S2G' 'A3E' 'A4F' 'P1C' 'S3F' 'A1C' 'L2G' 'F1F'
 'A2G' 'A3G' 'L3E' 'N1F' 'P1D' 'L2E' 'N2F' 'S4F' 'N3F' 'L1F' 'P1E' 'F1C'
 'L1G' 'L2D' 'U1F' 'I2F' 'A3F' 'L2F' 'A4D' 'S3D' 'A4G' 'N1G' 'S4G' 'S4C'
 'L3G' 'A3C' 'S2C' 'I1F' 'N3C' 'A4E' 'S4B' 'F1D' 'S3C' 'N4F' 'P1F' 'N3E'
 'I2G' 'F1G' 'A4C' 'L3F' 'N2C' 'N4D' 'N4G' 'P1G' 'L4E' 'U1E' 'A1B' 'L4D'
 'A1A' 'N3G' 'U1D' 'L3D' 'I4F' 'N2B' 'L4G' 'A2B' 'P1A' 'I3F' 'N1C' 'S2B'
 'A2C' 'N4C' 'S3B' 'A4B' 'I4G' 'S3A' 'I3G' 'U1G' 'P1B' 'S4A' 'L4C' 'A4A']
Unique values in column RFA_20: ['S4E' 'N1E' ' ' 'A1D' 'A3D' 'N2E' 'N2D' 'A1F' 'S2F' 'A2E' 'F1E' 'A1G'
 'S2E' 'L1E' 'A1E' 'S4D' 'A2F' 'N3D' 'S3G' 'S2G' 'A3E' 'A3F' 'S3E' 'N4E'
 'S2D' 'S3D' 'S3F' 'A1C' 'A2G' 'N1D' 'F1F' 'F1D' 'N2F' 'F1C' 'A3G' 'A2D'
 'A4G' 'N1G' 'S4G' 'A4F' 'A4D' 'L2E' 'N3F' 'S4F' 'S2C' 'A2C' 'L1F' 'N1F'
 'A4E' 'A4C' 'L2D' 'S4C' 'N3G' 'N4F' 'N2G' 'A3C' 'N3E' 'N1C' 'F1G' 'N2C'
 'N3C' 'N4D' 'S3C' 'L2F' 'L1D' 'L1G' 'N4G' 'I1F' 'L3E' 'L3F' 'L3D' 'U1E'
 'N4C' 'L3G' 'I2G' 'L4F' 'L2G' 'I1G' 'L4E' 'U1D']
Unique values in column RFA_21: ['S4E' 'N1E' ' ' 'A1D' 'A3D' 'N2E' 'A2E' 'N2D' 'A1F' 'S2F' 'F1E' 'I1G'
 'P1F' 'P1D' 'A1G' 'S2E' 'L1D' 'L4F' 'L1E' 'A1E' 'S4D' 'A2F' 'N3D' 'P1E'
 'S3G' 'S2G' 'P1G' 'A3E' 'A3F' 'S3E' 'N4E' 'S2D' 'S3D' 'S3F' 'F1C' 'A1C'
 'P1A' 'A2G' 'N1D' 'L4E' 'F1F' 'F1D' 'N2F' 'L1F' 'L4D' 'A3G' 'L1G' 'L2D'
 'A2D' 'I2F' 'L2F' 'A4D' 'P1C' 'L2E' 'A4G' 'N1G' 'S4G' 'A4F' 'S3C' 'N3F'
 'L3G' 'S4F' 'S2C' 'A2C' 'L3F' 'I1F' 'S4B' 'N1F' 'L3E' 'I2G' 'L2G' 'A4E'
 'A4C' 'S4C' 'N2C' 'N3G' 'N4F' 'N4D' 'N2G' 'A3C' 'N3E' 'N4G' 'L3D' 'N1C'
 'F1G' 'N3C' 'I4F' 'N2B' 'A2B' 'A1B' 'L4G' 'I3F' 'S2B' 'A4B' 'S3B' 'I4G'
 'S3A' 'I3G' 'N4C' 'P1B' 'S4A' 'A4A']
Unique values in column RFA_22: ['S4E' 'N1E' 'S4D' 'A1D' 'I4E' 'N2E' 'A2E' 'N2D' 'A1F' ' ' 'S2F' 'F1E'

In [9]:
# Seems like I have spaces not nulls, so will replace them with nulls

categorical = categorical.apply(lambda x: x.replace(" ", np.NaN))
categorical.isna().sum()

OSOURCE       928
STATE           0
ZIP             0
MAILCODE    94013
PVASTATE    93954
            ...
RFA_2A          0
MDMAUD_R        0
MDMAUD_F        0
MDMAUD_A        0
GEOCODE2      319
Length: 74, dtype: int64

### Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

**OSOURCE** - symbol definitions not provided, too many categories
**ZIP CODE** - we are including state already

In [10]:
drop_list = list(categorical[['OSOURCE','ZIP']])
drop_list

['OSOURCE', 'ZIP']

### Identify columns that over 85% missing values

In [11]:
# creating a function that makes a dataframe with name of cols and more than 85% missing values


def nulls_high_perc(categorical, perc=0.85):
    high_perc_df = pd.DataFrame(categorical.isna().sum() / len(categorical)).reset_index()
    high_perc_df.columns = ['column_name', 'nulls_percentage']
    cols_above_threshold = high_perc_df[high_perc_df['nulls_percentage'] > perc]
    drop_list_two = list(cols_above_threshold['column_name'])
    return drop_list_two

In [12]:
drop_list_two = nulls_high_perc(categorical)
drop_list_two

['MAILCODE',
 'PVASTATE',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'SOLP3',
 'SOLIH',
 'MAJOR',
 'COLLECT1',
 'VETERANS',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES']

In [13]:
nulls = pd.DataFrame(categorical.isna().sum()*100/len(categorical), columns=['percentage'])
nulls_85= nulls[nulls['percentage'] >= 85].sort_values('percentage', ascending=False)
nulls_85

          percentage
RECPGVG    99.880518
SOLP3      99.811344
MAJOR      99.691863
PLATES     99.413072
HOMEE      99.070348
CARDS      98.908942
CHILD03    98.798893
MAILCODE   98.533727
PVASTATE   98.471890
KIDSTUFF   98.390140
CHILD07    98.358697
RECSWEEP   98.305245
CHILD12    98.101916
RECP3      97.886010
BOATS      97.874481
CHILD18    97.016099
PHOTO      94.983859
COLLECT1   94.547856
SOLIH      93.501866
RECINHSE   92.974678
FISHER     92.527145
CATLG      91.756802
CRAFTS     91.430847
BIBLE      90.702427
VETERANS   89.072653
PCOWNERS   89.015009
WALKER     88.994047
CDPLAY     87.156752
STEREO     86.590785
GARDENIN   85.953549

In [14]:
#will check this on the whoe data frame

nulls_data = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
nulls_85_data= nulls_data[nulls_data['percentage'] >= 85].sort_values('percentage', ascending=False)
nulls_85_data

          percentage
RDATE_5    99.990567
RAMNT_5    99.990567
RDATE_3    99.746363
RAMNT_3    99.746363
RDATE_4    99.705488
RAMNT_4    99.705488
RDATE_6    99.186685
RAMNT_6    99.186685
RAMNT_15   92.388798
RDATE_15   92.388798
RDATE_23   91.763091
RAMNT_23   91.763091
RDATE_20   91.732696
RAMNT_20   91.732696
RAMNT_7    90.677273
RDATE_7    90.677273
RDATE_17   90.146942
RAMNT_17   90.146942
RDATE_21   90.029556
RAMNT_21   90.029556
RDATE_10   89.035970
RAMNT_10   89.035970
RDATE_13   87.160944
RAMNT_13   87.160944
NUMCHLD    87.018404

In [15]:
nulls_85_list = nulls_85_data.index.tolist()
print(nulls_85_list)

['RDATE_5', 'RAMNT_5', 'RDATE_3', 'RAMNT_3', 'RDATE_4', 'RAMNT_4', 'RDATE_6', 'RAMNT_6', 'RAMNT_15', 'RDATE_15', 'RDATE_23', 'RAMNT_23', 'RDATE_20', 'RAMNT_20', 'RAMNT_7', 'RDATE_7', 'RDATE_17', 'RAMNT_17', 'RDATE_21', 'RAMNT_21', 'RDATE_10', 'RAMNT_10', 'RDATE_13', 'RAMNT_13', 'NUMCHLD']

### Remove those columns from the dataframe

In [16]:
drop_list.extend(nulls_85_list)
print(drop_list)

['OSOURCE', 'ZIP', 'RDATE_5', 'RAMNT_5', 'RDATE_3', 'RAMNT_3', 'RDATE_4', 'RAMNT_4', 'RDATE_6', 'RAMNT_6', 'RAMNT_15', 'RDATE_15', 'RDATE_23', 'RAMNT_23', 'RDATE_20', 'RAMNT_20', 'RAMNT_7', 'RDATE_7', 'RDATE_17', 'RAMNT_17', 'RDATE_21', 'RAMNT_21', 'RDATE_10', 'RAMNT_10', 'RDATE_13', 'RAMNT_13', 'NUMCHLD']

### Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [24]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')
#I had spaces not nulls

F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [25]:
categorical[['GENDER']]= categorical[['GENDER']].apply(lambda x: 'other' if (x[0] != 'F' and x[0] != 'M') else x, axis=1)

In [26]:
categorical[['GENDER']].value_counts()

GENDER
F         54234
M         39094
other      2084
dtype: int64